.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 calc(6px + (10 - 6) * ((100vw - 320px) / (1280 - 320))) 0;
  padding: 0 calc(4px + (6 - 4) * ((100vw - 320px) / (1280 - 320)));
  border-radius: 6px;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.15);

  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
.todo-item:last-of-type {
  margin: 0;
}
.todo-item:hover {
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0px 0px 0px 1px #fff;
}

.todo-item__title {
  font-family: Caveat, sans-serif;
  font-weight: normal;
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1280 - 320)));

  margin: 0 calc(10px + (20 - 10) * ((100vw - 320px) / (1280 - 320))) 0 0;
  padding: 0;
  cursor: pointer;
}

.todo-item__title_done {
  position: relative;
  color: grey;
}
.todo-item__title_done::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 2px solid #ff9933;
  width: 100%;
  transform: rotate(-1deg);
}

.todo-item__title_important {
  font-size: calc(17px + (21 - 17) * ((100vw - 320px) / (1280 - 320)));
  font-weight: bold;
}

.todo-item__wrapp-btn {
  display: flex;
}

.todo-item__btn {
  display: flex;

  position: relative;
  border: none;
  margin: 0 8px 0 0;
  padding: 0;
  background-color: transparent;
}
.todo-item__btn:last-of-type {
  margin: 0;
}
.todo-item__btn:hover {
  cursor: pointer;
}
.todo-item__btn:hover .todo-item__btn-hint {
  width: max-content;
  opacity: 1;
  transform: translateX(-10px);

  transition: opacity 0.3s ease 0.5s, transform 0.3s ease 0.5s;
}

.todo-item__btn-hint {
  font-family: Caveat, sans-serif;
  font-weight: normal;
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1280 - 320)));
  color: white;

  position: absolute;
  top: calc(-26px + (-32 - -26) * ((100vw - 320px) / (1280 - 320)));
  left: 10px;
  opacity: 0;

  margin: 0;
  padding: 2px 4px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  box-shadow: 0px 0px 0px 1px #ff9933;
  height: auto;
  width: 0;
  z-index: 99;

  pointer-events: none;
}

.todo-item__btn:first-of-type .todo-item__btn-hint {
  left: -10px;
}

.icon {
  width: 30px;
  height: 30px;

  transition: transform 0.2s ease;
}
.icon:hover {
  transform: scale(1.2);
}

.icon_add-section {
  width: calc(38px + (48 - 38) * ((100vw - 320px) / (1280 - 320)));
  height: auto;

  transition: transform 0.2s ease;
}
.icon_add-section:hover {
  transform: scale(1.1);
}

.icon_disable {
  cursor: context-menu;
  opacity: 0.3;
}
.icon_disable:hover {
  transform: scale(1);
}
