.filter-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 0 calc(14px + (30 - 14) * ((100vw - 320px) / (1280 - 320))) 0;
}

.filter-form__input {
  font-family: Caveat, sans-serif;
  font-weight: normal;
  font-size: calc(20px + (26 - 20) * ((100vw - 320px) / (1280 - 320)));

  width: -webkit-fill-available;
  margin: 0 0 calc(10px + (20 - 10) * ((100vw - 320px) / (1280 - 320))) 0;
  padding: 5px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.filter-form__radio-ul {
  display: flex;
  gap: calc(10px + (20 - 10) * ((100vw - 320px) / (1280 - 320)));

  list-style: none;
  margin: 0;
  padding: 0;
  width: 85%;
}

.filter-form__radio-li {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.15);
  cursor: pointer;

  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
.filter-form__radio-li:hover {
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0px 0px 0px 1px #fff;
}
.filter-form__radio-li:hover .filter-form__icon {
  transform: scale(1.2);
}

.filter-form__radio {
  cursor: pointer;
}

.filter-form__radio-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  cursor: pointer;
}

.filter-form__icon {
  height: 30px;
  transition: transform 0.2s ease;
}

.filter-form__title {
  font-family: Caveat, sans-serif;
  font-weight: normal;
  font-size: calc(20px + (26 - 20) * ((100vw - 320px) / (1280 - 320)));

  margin: 0 0 0 -2px;
  padding: 0;
}
