.header {
  margin: calc(80 / 1280 * 100vw) 0 30px;
  padding: 20px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.5);
}

.header__title {
  font-family: Caveat, sans-serif;
  font-weight: bold;
  font-size: 40px;

  margin: 0;
  padding: 0;
}
