.header {
  margin: calc(20px + (50 - 20) * ((100vw - 320px) / (1280 - 320))) 0;
  padding: calc(14px + (20 - 14) * ((100vw - 320px) / (1280 - 320)));
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.header__title {
  font-family: Caveat, sans-serif;
  font-weight: bold;
  font-size: calc(30px + (40 - 30) * ((100vw - 320px) / (1280 - 320)));

  margin: 0;
  padding: 0;
}
