.footer {
  margin: 30px 0 calc(30 / 1280 * 100vw);
  padding: 20px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.5);
}

.footer__title {
  font-family: Caveat, sans-serif;
  font-weight: normal;
  font-size: 30px;
}
